# Archivos de sistema
.DS_Store

# Resultados de entrenamiento y modelos
runs/
v9-models/
*.pt

# Datos de entrenamiento
datasets/all-images
datasets/all-labels
# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
